<div class="progress__inner">
    
    <button class="progress__btn js-progress-btn">
        {{./title}}
    </button>

    <div class="progress__bar js-progress-bar {{#if ./_progressTheme}}theme-{{./_progressTheme}}{{/if}}">
        <div class="progress__bar-inner">
            {{#each _items}}
                <div 
                    class="progress__bar-item js-progress-bar-item{{#if ./_isYourTurn}} has-icon{{/if}}{{#if ./_isActive}} is-active{{/if}}{{#if ./_isComplete}} is-complete{{/if}}"
                    role="button"
                    data-index="{{./_index}}">
                    {{#if ./_isYourTurn}}
                        <span class="icon icon-hm-trophy"></span>
                    {{/if}}    
                </div>
            {{/each}}
            <div class="progress__bar-cur js-progress-bar-cur"></div>
        </div>

        <div class="progress__preview js-progress-preview">
            <div class="progress__preview-inner">
                
                {{#each _items}}
                    <div 
                        class="progress__preview-item js-progress-preview-item"
                        data-index="{{./_index}}">

                        <div class="progress__preview-graphic">
                            {{!-- Causes too many requests on page load! Images will be appended using JavaScript to fix this. --}}
                            {{!-- <img 
                                class="progress__preview-img" 
                                data-index="{{./_index}}"
                                src="{{./previewSrc}}"
                                onerror=""> --}}
                            
                            {{! Placeholder image. SRC will be replaced once viewed. }}
                            <img 
                                class="progress__preview-img js-progress-preview-img" 
                                data-index="{{./_index}}"
                                src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                                data-src="{{./previewSrc}}" {{! <-- Stored until the image becomes viewed. }}
                                onerror="" />
                        </div>
                        <div class="progress__preview-title">
                            <span class="progress__preview-title-num">{{./num}}</span> {{./title}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>